{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content%} 

<h1>Welcome {{ students.name|upper }}</h1>
<h2>Age: {{ students.age }}</h2>
<h2>Email: {{ students.email }}</h2>
<h2>Phone: {{ students.phone }}</h2>
<h2>Course: {{ students.course|upper }}</h2>


<p class="lead">This website is built using Django Templates.</p>

<!-- {% if logged_in %}

<div class="alert alert-success">You are successfully logged in.</div>

{% else %}

<div class="alert alert-warning">Please login first.</div>

{% endif %}  -->
{% endblock %}
